.ob_div{
      width:100%;
      background:#FFFDF5;
}


.heder{
    width: 100%;
    padding-top: 20px;

}
.inpt:valid:focus{
    border-top: none;
    /* background-color: #514A7E; */

}
.inpt{
    border-top: none;
    border-left: none;
    border-right: none;
    /* background-color: #514A7E; */


}
.dbr_pr {
    /* width: 50%; */
    /* float:right; */
}
.dbr_pr img{
    width:70%;
    max-height: 600px;
     float: right;
}
.dbr_lf{
    width: 50%
}
.dbr_lf img{
    width: 50%;
    max-height: 500px;
}
/* .dbr_pr{

} */
.d_inp{
    float: right;

    /* margin-right: 20%; */
}
.div{ 
    display: block;
    
     /* padding-left: 5%;
    padding-right: 5%; */
/* padding: 135px; */
    /* width: 100%; */
    /* padding-left: 200px;
    padding-right: 200px; */
    /* margin: 135px; */
    /* max-width:100%; */
}
@media (min-width:200px) {
    .div{
        padding-left: 10%;
        padding-right: 10%;

    }

    .btns {
    
    padding-top: 5%;
}
    
}


.dbr_pr{
    display: flex;
}
.dbr_lf{
    float: left;    
    
}
 
.ob_div{
    display:block;
    width: 100%;
    float: right;
}
.btns button{
    width: 193px;
    height: 193px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 50%;
    background-color:#FFFDF5 ;
   color: #514A7E;

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    /* font-weight: 400; */
    line-height: normal;
}
.btns {
    
    /* padding-top: 570px; */
}
.btns button:hover{
    
    background-color:#514A7E ;
    border: #514A7E;
    color: #FFFDF5;
}

.ddd{
    display:block;

}
.img_left{
    float: right;
    padding-left:30% ;
}
.div_text{
    display: block;
}
.text{
    display: flex;
}
.im_kr1{
    /* display:flex;
    position: relative;
    top: -40%;
    left: 65%; */
    paddin:-30%;
    padding-left: 65%;
    /* padding:50%; */
}
/* .krug1{
    display: flex;
    float: right;
    width: 28px; 
    height: 28px;
    background: #514A7E;
    border-radius: 50%;
     color: #514A7E;
    
} */
.text1 h2{
    /* position: relative; */
    /* float: left;
    padding-right:10% ; */
}