.heder{
    display: flex;
    width: 100%;
    margin: 20px;

}

.div{ 
    display: block;
    background:#FFFDF5;; 
padding: 135px;
width: 100%;
padding: 134px;
}
.dbr_pr{
    display: flex;
    /* float:right;
    float:none; */
    float: right;
    
    
}
.dbr_lf{
    float: left;
    
}
 
.ob_div{
    display:block;
    /* float: right; */
}
.btns button{
    width: 193px;
    height: 193px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 50%;
    background-color:#514A7E ;
    border: #514A7E;
   color: #FFFDF5;

    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btns {
    
    padding-top: 700px;
}
.ddd{
    display:block;

}