.ElTov{
display: flex;

}
.img{
    width: 300px;
    height: 300px;
}
.btns{
display: grid;
grid-template-columns: 2fr 2fr;
gap: 10%;

}
.btns button{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10%;
    
    }
.ElTov button{
    border: none;
    background-color: #FFFDF5;
    margin: 10%;
}
.dan{display: flex;
    height: 20%;
}
.dan h1{
   line-height: 2;
}
.btn_verh{
    border-radius: 50%;
    width: 72px;
height: 72px;
background-color:#514A7E ;
}
.bnt_nazad{
    width: 43px;
height: 43px;
    border-radius: 100%;
    background-color: #514A7E;
}
.bnt_nazad:hover{
   
    background-color:#FFFDF5;
    .strelk{
        fill:#514A7E;
    }
}
.korz{
    display: grid;
    grid-template-columns: repeat(3, 15%);
    grid-template-rows: repeat(2, 30%);
}
.card_icnKoll{
    display: grid;
    grid-template-columns: repeat(4, 15%);
    grid-template-rows: repeat(4, 40%);

}
.svgs{
    grid-column-start: 1;  
    grid-row: 1;
}

.card_icnKoll h2{
width: 10px;
height: 5px;
line-height: 0;
    /* grid-column-start: 2;   */
    grid-row-start: 1;
    grid-column: 4;
}