.ob_div{
        display: grid;
        grid-template-columns: 35% 45%;
        gap: 10%;
        height: 100%;

}

.div{
        margin-left: 10%;
        margin-top: 2%;
        width: 100%;
        min-height: 900px;
        padding-top: 5%;
        padding-bottom: 2%;
        /* height: 500px; */
        display:grid;
        grid-template-columns: repeat(2,1fr);
        background-color: #121212;;
        
    
    
}
.div2{
        display: grid; 
        grid-template-rows: 10% 60% 30%;
        grid-template-columns: 35% 45%;
}
.inp_d{
        grid-column-start: 2;
}
.img_left{
        grid-column-start: 2;
        grid-row-start: 2;
}
.btns{
        grid-column-start: 1;
        grid-row-start: 3;
}
.blck{
        display: grid;
        height: 90%;
        margin-top: -30px;
        padding-left: 10%;
        width: 100%;
   
}
.blck a{
        text-decoration: none;
        font-size: 150%;
        font-family:'Courier New', Courier, monospace;
        color: #FFFDF5;
        /* font-weight:  lighter  ; */
        font-weight: normal;
        /* font-family: Roboto; */
        /* font-style: normal; */
        /* line-height: normal; */
}
.blck1{
        display: grid;
        height: 80%;
        margin-top: 140px;
        padding-left: 10%;
        width: 100%;
        
}
.btns button{
  
        width: 250px;
        height: 250px;
        display:block;
      
        margin-left: 15%;
        border-radius: 50%;
        background-color:#FFFDF5 ;
       color: #514A7E;
       border-color: #514A7E;
    
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        line-height: normal;
    }
    
    .btns button:hover{
        
        background-color:#514A7E ;
        border: #514A7E;
        color: #FFFDF5;
    }
.el{
        margin-left: 85%;
        margin-top: -15%;
}