/* .div{
    display: block;
}
.btn_sort{
    border: none;
    background-color: #FFFDF5;
}

.sort{
    margin-top: -120px;
    display: grid;
    grid-template-columns: 85% 50%;
    grid-template-rows: 60px 60px 60px 80%;
}
.sort_{
    display: flex;
    grid-row-start: 3;

}
.tov_vs{
    display: flex;
    margin-top: -10px;
}
.img_pr{
    grid-column-start: 2;
}
.filtr{
    width: 15%;
}
.tovars{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;
} */
