.heder{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
    margin-left: 5%;

}
.svg_{
    width: 5%;
}
.inpt:valid:focus{
    border-top: none;
  

}
.inpt{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 70%;
    height: 20px;
    background-color:#FFFDF5 ;
}
.inp_d{
    display: flex;
    float: right;
    padding-right: 15%;
    width: 20%;
}

