.btn_otpr{
    background-color: #514A7E ;
    margin-right :   10%;
    margin-top: 5%;
    color: #ffffff;
    height: 40px;
    width: 137px;
    border: none;
    box-shadow: 0 0 7px 5px #e9e7e1;
     
} 

.btn_vhod{ 
    height: 40px;
    width: 137px;
    background-color: #FFFDF5 ;
    margin-right :   10%;
    margin-top: 5%;
    color: #514A7E;
    height: 40px;
    width: 137px;
    border-color: #514A7E;
    border-width: 1px;

}
.hed{
    display: grid;
    width: 100%;
    grid-template-columns: 70% 10%;
} 
.btn_nazad{
    border-radius: 100%;
    width: 45px;
    height: 45px;
    margin-left: auto;
    margin-right: -20px;
    background-color: #514A7E ;
}
.inp1{
    display: grid;
    grid-column-start: 1;
 
    width: 80%; 
    grid-template-rows: repeat(4,1fr);
    gap: 30px;
}
.elips{
    /* margin-right: -200em; */
    width: 25%;
    margin-left: 95%;
    margin-top: -25%;
}
.inp1 input{
    outline: none;

    border-top: none ;
    border-left: none ;
    border-right: none ;
    border-bottom-color: #7D7D7D ;
    box-shadow: none;
    border-width: 1px;
}
.inp2{
    display: grid;
    grid-column-start: 2;
    width: 80%; 
    grid-template-rows: repeat(4,1fr) ;
    gap: 30px;
    
}
.inp2 input{
    outline: none;

border-top: none ;
border-left: none ;
border-right: none ;
border-bottom-color: #514A7E ;
    box-shadow: none;
    border-width: 1px;
    border-bottom-color: #7D7D7D ;
}
.inps input{
     height:  100%;
     background-color:#FFFDF5 ;
}
.inps{
    display: grid;
    padding-top: 2%;
    width: 85%; 
    grid-template-columns: repeat(2, 2fr);
    /* grid-template-columns: repeat(3, 2fr); */
}
.div{
    padding: 15%;
    /* width: auto; */
}