.div{
    background: #FFFDF5;
    width: 100%;
height: 100%;
min-height: 1200px;
font-family: Roboto;
}

 
.div_inf_polz{
    display: none;
    background-color: #FFFDF5;
    box-shadow: 0px 0px 5px #dddcd9;
    width: 12%;
    height: auto;
    position: absolute;
    right: 20%;
    top: 20%;
    visibility: hidden;

}
.div_inf_polz.active{
    visibility: visible;
}
.div_inf_polz a{
    font-family: Roboto;
    text-decoration: none;
    color: #7D7D7D;
    margin: 4%;

}
.div_inf_polz svg{
    padding-right: 5%;

 
}
.div_inf_polz img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.div_inf_polz h3{
    color: #7D7D7D;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 5%;
    margin-left: auto;
    margin-right: auto;
}
.polos{
    background-color: #7D7D7D;
    height: 1px;
    width: 110%;
    margin-left: -10%;
    margin-top: 5%;
    margin-bottom: 5%;

}
.div_inf_polz2{
    display: grid;
   
}
.div_inf_polz2 a{
    font-family: Roboto;
    text-decoration: none;
    color: #7D7D7D;
    margin: 4%;

}
.div_inf_polz2 svg{
    padding-right: 5%;

 
}
.div_inf_polz2 img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}
.div_inf_polz2 h3{
    color: #7D7D7D;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 5%;
    margin-left: auto;
    margin-right: auto;
}
.div_inf_polz3{
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}
.div_inf_polz3 button{
    margin-top: 20%;
    border: 0.5px solid #514A7E;
    background: #514A7E;
    color: rgb(255, 255, 255);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
.heder{
    display: none;
    grid-template-columns: 70% 15%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 7%;
    visibility: hidden;

}
.heder.active{
    visibility: visible;
}