.div{ 
    width: 90%;
    display: block;
    background:#FFFDF5;
    padding-left: 10%;
    /* padding-right: 10%; */
    height: 100%;
    
}

.div h1{
    font-weight: normal;
   
   }
   .div h2{
    font-weight:10;
     color:#7D7D7D;


      }
    .t1{
          line-height:50%;
    }
    @media (max-width:1400px) {
        .div h1{
            font-size: 135%;;
           }
           .div h2{
               font-size: 100%;;
              }
    }
    @media (max-width:950px){
        .div h1{
            font-size: 100%;;
           }
           .div h2{
            font-size: 80%;;
           }
    }
    @media (max-width:700px){
        .div h1{
            font-size: 80%;;
           }
           .div h2{
               font-size: 60%;;
              }
    }
    @media (max-width:550px){
        .div h1{
            font-size: 60%;;
           }
           .div h2{
               font-size: 40%;;
              }
    }
    @media (max-width:450px){
        .div h1{
            font-size:25%;
           }
           .div h2{
               font-size: 20%;;
              }
        
    }